:root{
    --pink:#9cd121;
    --blue:#5c9ec2;

    --green:#689c60;
    --yellow:#cacaa7;

    --lightblue:#444b48;
}

html,body{
    height: 100vh;
    
}
body{
    display:flex;
    flex-direction: column;
    margin: 0;
    letter-spacing: 0.1rem;
    text-align: center;
    touch-action: manipulation;
    background-color: var(--lightblue);
    font-family: "Bungee";
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1{
    margin: auto;
    -webkit-text-stroke:0.5px #000000;
    text-shadow: 5px 5px 0px #000000;
    color: var(--pink);
    font-size: 8rem;
    line-height: 1;
    padding-bottom: 2rem;

}
h2{
    color: var(--blue);
    text-shadow: 2px 2px 0px #000000;
    -webkit-text-stroke: 0.1px #000000;
    font-size:3rem;
}

.container{
    display: block;
    max-width: 670px;
    margin: auto;
}

.weather{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.temp{
    margin-left: 1rem;
}

.search{
    font-family: "Source Sans Pro" !important;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 4rem;
    max-width: 31.25em;
    width: 70%;
    height: 3rem;
    font-family: inherit;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 2rem;
    background-image: url('./images/newsearch.png');
    background-repeat: no-repeat;
    background-position: 3% center;
    object-fit: cover;

    

}
.the-weather{
    position: absolute;
    right: 5%;
    top: 5%;
    flex-wrap: wrap;
}

.loader{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    padding-top: 2rem;
}